/*css reset*/
html, body, div, p, button, h3, tbody, tfoot, thead, tr, th, td, ul, li {
    padding: 0;
    border: 0;
    margin: 0;
    position: relative;
    vertical-align: baseline;
    color: #666666;
    font: 14px/2 "微软雅黑", "Microsoft YaHei", arial, verdana, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

.hide {
    display: none !important;
}

/* 清除浮动 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.job-info .info-top p {
    color: #1bcbab;
}

.info-content .info-body {
    word-wrap: break-word;
    width: 190%;
    font-size: 12px;
    margin-left: 50px;
}

.title-content .info-body {
    word-wrap: break-word;
    width: 80%;
    font-size: 12px;
}

#recordCommuList {
    border-bottom: 1px dashed #cccccc;
}

#recordCommuList .title-content .info-body {
    margin: 10px 0 15px 20px;
}

/* 单行省略显示文字 禁止换行 */
.single-line-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #1ab394;
    display: inline-block;
    width: 165px;
}

/*模块顶部及背景样式*/
.module-style {
    display: inline-block;
    border-top: 3px solid #e4e4e4;
    padding: 5px 10px;
    background-color: #ffffff;
}

/*图片放大效果*/
#enlargeImage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#enlargeImage .img-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#enlargeImage #closeLargeImg {
    position: absolute;
    top: -9px;
    right: -9px;
    width: 24px;
    height: 24px;
    background: url("../img/job-detail/close.png") no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}

#enlargeImage #closeLargeImg:hover {
    cursor: pointer;
}

#enlargeImage .img-wrap .large-img {
    width: 500px;
    height: 500px;
}

/*全局样式定义*/
.job-detail {
    /*height: 100%;*/
    min-width: 1000px;
    width: 98%;
    background: #fafafa;
    margin: 15px auto 0;
}

/*左侧区域*/
.job-detail-left {
    float: left;
    min-width: 720px;
    margin-right: -200px;
}

/*右侧侧边栏样式*/
.job-detail-right {
    float: right;
    display: inline-block;
    width: 245px;
}

/*统一宽度*/
.job-detail-left .job-info, .job-detail-left .job-record, .job-info .info-top {
    width: 82%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*工单主题顶部样式*/
.job-info .info-top {
    border-bottom: 1px solid #f3f3f3;
}


/*工单主题顶部右侧按钮*/
.info-top button {
    float: right;
    height: 28px;
    padding: 0 10px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 10px 0;
    color: #1ab394;
}

.info-top button + button {
    margin-right: 8px;
}

.info-top button:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #1ab394;
    border: 1px solid #19b492;
}

/*工单主题顶部标题*/
.info-title {
    display: inline-block;
    font-size: 18px;
    width: 50%;
    color: darkslategrey;
    margin-left: 5px;
    line-height: 48px;
    height: 48px;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*工单主题列表信息*/
.info-content ul {
    padding: 10px 0;
}

.info-content li, .info-content li span, .info-content li p {
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
}

.info-content li {
    font-size: 0px;
    min-width: 228px;
    width: 40%;
    padding-left: 5px;
    box-sizing: border-box;
}

/*工单主题备注信息*/
.job-info .info-note {
    padding-left: 5px;
}

.info-note p {
    line-height: 36px;
    font-size: 12px;
}

.info-note span {
    display: inline-block;
    vertical-align: middle;
}

.info-note .form-control {
    display: inline-block;
    vertical-align: middle;
    min-width: 640px;
    width: 90%;
    width: calc(100% - 100px);
    margin: 10px 10px;
}

.job-record {
    margin-top: 15px;
}

/*标题切换样式 --start*/
.job-record .label-title {
    width: 100%;
    height: 36px;
    font-size: 0;
    border-bottom: 1px solid #f2f2f2;
}

.job-record .label-title span {
    position: relative;
    display: inline-block;
    width: 160px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
}

.job-record .label-title span .label_line {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 160px;
    height: 4px;
    background-color: #1ab394;
}

.job-record .label-title span.title_active {
    color: #1ab394;
}

.job-record .label-title span:hover {
    cursor: pointer;
    color: #1bcbab;
}

/*标题切换样式 --end*/

/*记录列表样式*/
/*记录列表统一样式*/
.record-list > div {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px dashed #cccccc;
    padding-top: 5px;
}

.record-list > div:hover {
    cursor: default;
}

/*20160831 start*/
.list-wrap-left {
    display: inline-block;
    width: 50px;
    padding: 0 10px;
    height: 100%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.list-wrap-left .left-portrait {
    width: 30px;
    height: 30px;
}

.list-wrap-left .left-no-portrait {
    width: 30px;
    height: 30px;
    background-color: #4285f5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/*变更驳回*/
.list-wrap-left .change-reject {
    background-color: #676a6c;
}

/*可行性审批*/
.list-wrap-left .change-approval {
    background-color: #ed5565;
}

/*方案规划*/
.list-wrap-left .change-design {
    background-color: #4D3370;
}

/*方案制定*/
.list-wrap-left .change-actualize {
    background-color: #1c84c6;
}

/*方案测试*/
.list-wrap-left .change-test {
    background-color: #f8ac59;
}

/*方案及测试结果审批*/
.list-wrap-left .change-testApproval {
    background-color: #1ab394;
}

/*变更发布实施*/
.list-wrap-left .change-release {
    background-color: #d1dade;
}

/*变更结果验证*/
.list-wrap-left .change-approved {
    background-color: #ed5565;
}

/*完成*/
.list-wrap-left .change-completed {
    background-color: #c4df9c;
}

/* 问题管理头像颜色*/
/*变更驳回*/
.list-wrap-left .issue-reject {
    background-color: #676a6c;
}

/*可行性审批*/
.list-wrap-left .issue-approval {
    background-color: #ed5565;
}

/*方案规划*/
.list-wrap-left .issue-analyse {
    background-color: #4D3370;
}

/*方案制定*/
.list-wrap-left .issue-check {
    background-color: #1c84c6;
}

/*方案测试*/
.list-wrap-left .issue-closed {
    background-color: #f8ac59;
}

/*方案及测试结果审批*/
.list-wrap-left .issue-completed {
    background-color: #1ab394;
}


.left-no-portrait .portrait-text {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}

.list-wrap-right {
    display: inline-block;
    width: 85%;
    width: calc(100% - 55px);
    height: 100%;
}

/*20160831 end*/

/*20160825 start*/
.record-list .normal-title {
    width: 100%;
}

.normal-title .title-type {
    width: 86%;
    width: calc(100% - 90px);
    display: inline-block;
}

.normal-title .title-type-short {
    width: 72%;
    width: calc(100% - 210px);
    display: inline-block;
}

.normal-title .title-wrap {
    background-color: #fafafa;
}

.normal-title .title-content {
    word-break: break-all;
}

.normal-title .title-type, .normal-title .title-type-short {
    color: #000000;
}

/*20160825 end*/

.record-list .normal-title span {
    display: inline-block;
    font-size: 12px;
}

.record-list .list-time {
    font-size: 12px;
}

/* 只能内部人员可查看列表样式 20160824 */
.record-list .list-special {
    background-color: #f7f7f7;
}

/*加粗强调标题样式*/
.record-list .stress-title {
    font-weight: 700;
    color: #000000;
}

/*缩略图*/
.info-body .litle-img {
    width: 30px !important;
    height: 30px !important;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.info-content .litle-img {
    width: 30px !important;
    height: 30px !important;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

/*列表统一按钮样式*/
.record-list .list-opt {
    float: right;
    color: #1ab394;
    padding-left: 8px;
}

.record-list .list-opt:hover {
    cursor: pointer;
    color: #1bcbab;
}

.record-list .list-opt-left span {
    display: inline-block;
    line-height: 1;
    padding-right: 8px;
    border-right: 1px solid #cccccc;
}

.record-list .list-opt-right {
    margin-right: 20px;
}

/*回复列表样式（浅绿色背景）*/
.record-list .list-reply {
    background-color: #effaf8;
}

/*优化区 0824-2 start*/
.job-detail-left .job-reply {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.job-reply .reply-editor {
    width: 100%;
    height: 140px;
}

/*优化区 0824-2 end*/
.job-reply .reply-opt {
    margin: 15px auto;
}

/*提交按钮样式*/
.reply-opt .reply-btn {
    display: inline-block;
    padding: 6px 15px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    background-color: #19b492;
    margin-left: 10px;
    margin-bottom: 20px;
}

/*提交中按钮样式*/
.reply-opt .down-btn {
    display: inline-block;
    padding: 6px 15px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    background-color: #aeb3b4;
    margin-left: 10px;
    margin-bottom: 20px;
}

.reply-opt .reply-btn:hover {
    cursor: pointer;
    background-color: #1bcbab;
}

.reply-opt .down-btn:hover {
    cursor: pointer;
    background-color: #c9cbc1;
}

.reply-opt .reply-tips {
    display: inline-block;
    margin-left: 30px;
}

/*底部回复按钮样式*/
.reply-tips .reply-status {
    width: 70px;
    height: 28px;
    margin-left: 15px;
    line-height: 28px;
    text-align: center;
    color: #19b492;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #ffffff;
}

.reply-tips .reply-status:hover {
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #19b492;
    background-color: #19b492;
}

/*侧边栏标题*/
.job-detail-right .label-icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.job-detail-right .label-title {
    line-height: 32px;
    color: #333333;
    font-size: 15px;
}

/*侧边栏label样式*/
.job-detail-right .client-info {
    padding-bottom: 10px;
    border-bottom: 1px dashed #e8e8e8;
}

/*侧边栏标题内图标样式（客户信息）*/
.client-info .label-title i.client-icon {
    width: 15px;
    height: 15px;
    border: 1px solid #9b9b9b;
    border-radius: 15px;
    background: url("../img/job-detail/client.png") no-repeat;
    background-position: center center;
    background-size: 9px 9px;
}

/*侧边栏列表内容样式*/
.client-info-content li {
    padding-left: 22px;
    font-size: 0;
}

.client-info-content li p {
    display: inline-block;
}

.info-note p {
    display: inline-block;
}

.client-info-content li span {
    display: inline-block;
    width: 60px;
    font-size: 12px;
    text-align: right;
    vertical-align: top;
}

.client-info-content li p {
    display: inline-block;
    font-size: 12px;
    width: 118px;
}

/*客户名称 && 相似工单*/
.client-info-content .client-name, .similar-job-content li {
    color: #1ab394;
    font-size: 12px;
}

/*侧边栏标图标样式（手机图标）*/
.client-info-content i.mobile-icon {
    display: inline-block;
    width: 12px;
    height: 18px;
    margin-left: 5px;
    vertical-align: text-bottom;
    background: url("../img/job-detail/mobile.png") no-repeat;
    background-position: center center;
    background-size: 12px 18px;
}

/*侧边栏标题内图标样式（相似工单）*/
.similar-job .label-title i.list-icon {
    width: 17px;
    height: 17px;
    background: url("../img/job-detail/list.png") no-repeat;
    background-position: center center;
    background-size: 17px 17px;
}

.similar-job .similar-job-content {
    padding-left: 22px;
}

.change-wrap {
    min-width: 1000px;
    width: 1200px;
    margin: 0 auto;
}

.change-wrap .change-item {
    width: 100%;
    font-size: 0;
}

.change-wrap .change-item > div {
    display: inline-block;
    font-size: 14px;
    line-height: 36px;
}

.change-item .change-item-title {
    width: 20%;
    padding-left: 88px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.change-item .change-item-content {
    width: 30%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.change-item .change-item-fixcontent {
    width: 80%;
    box-sizing: content-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.textarea-item {
    width: 80%;
    box-sizing: content-box;
}


/*问题管理*/
.job-reply .issue-reply > div{
    display: inline-block;
}
.job-reply .issue-choice{
    vertical-align: top;
}
.job-reply .issue-manager{
    margin-left: 30px;
}
.job-reply .issue-manager > input{
    display: inline-block;
    width: 180px;
}
.job-reply .manager-input, .manager-input > input{
    display: inline-block;
}
.manager-input > input{
    margin-left: -180px;
    background-color: white;
    width: 150px;
}

/*问题负责人*/
.question-manager-list{
    min-width: 204px !important;
}
.question-manager-list > table{
    width: 100%;
    background-color: #ffffff;
}
